<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- <add name="myConnection" connectionString="Data Source=148.163.121.6;port=3306;Initial Catalog=freefarm_test;user=freefarm_test;password=root_NenTDBA"/> -->
    <add name="myConnection" connectionString="Data Source=localhost;port=3305;Initial Catalog=rental_db;user=root;password=NenTDBA"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>